@media only screen and (max-width: 500px) {
    .statsBox {
    }

    .playSectionText {
      font-size: 14pt;
    }

    .storyContent {
      width: initial;
    }

    .hubsList {
      width: 100px;
    }

    .hubsListCard {
      width: initial;
    }

    .worldDashboardCards {
      justify-content: center;
    }

    .worldDashboardCard {
      margin: 15px auto;
    }

    .dashTitleRow {
      flex-direction: column;
    }

    .dashTitleRow h1 {
      margin-bottom: 10px;
    }

    .worldEditTitleRow {
      align-items: center !important;
    }

    .md-button {
      font-size: 9pt;
    }

    header {
      font-size: 16pt;
    }
}