@media only screen and (max-width: 500px) {
    .statsBox {
    }

    .playSectionText {
      font-size: 14pt;
    }

    .storyContent {
      width: initial;
    }

    .hubsList {
      width: 100px;
    }

    .hubsListCard {
      width: initial;
    }

    header {
      font-size: 16pt;
    }
}