* {
  -webkit-user-select: auto;
  outline: 0;
}

body, .content {
  margin: 0;
  font-family: "HelveticaNeue-Light", Calibri !important;
  background-color: #f7f6f6 !important;
}

h1, h2, h3, h4 {
  font-family: Abel;
}

.logo {
  width: 65px;
  height: 65px;
  padding-top: 4px;
  margin-right: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column > div {
  flex-grow: 1;
}

header {
  background-color:#232323;
  height:73px;
  color: white;
  font-family: 'Aguafina Script', cursive;
  font-size: 30pt;
  font-weight: bold;
  padding-left: 10px;
  letter-spacing: 2px;
  overflow: hidden;
}

header > .row {
  align-items: center;
}

.headerUsername {
  color: #ffc581 !important;
}

.navBar {
  background-color: #666;
  height: 55px;
}

.navBar md-icon {
  font-size: 30pt;
  margin: 0 auto;
  color: #000;
}

.navBar > div {
  flex: 1;
  max-width: 100px;
  text-align: center;
  padding: 8px;
}

.accountBox {
  flex: 1;
  color: white;
  text-align: right;
  align-self: flex-start;
}

.accountIcon {
  font-size: 34pt;
  color: white;
  margin-right: 30px;
}

.content {
  padding: 16px;
  padding-top: 0;
  position: relative;
}

.centerBox {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.loader {
  background-color:black;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  border-radius: 10px;
  opacity: 1;
}

.loading {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1100;
  background-color: #333;
  color: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

#loaderOverlay {
  display:none;
}

.currentTab {
  background-color: #f7f6f6;
}

.navTab {
  outline: 0;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.navTab:hover {
  background-color: #f7f6f6;
}

.noSelect * {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -o-user-select: none !important;
}

.accountButton {

}

.accountButton > md-icon {
  color: white;
  font-size: 42px;
  min-width: 0;
  min-height: 0;
}

.accountButton {
  min-width: 0;
  margin-top: 15px !important;
  line-height: 42px;
}

header md-icon, .navBar md-icon {
  width: inherit;
  height: inherit;
}

md-button {
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

.md-toolbar-tools {
  background-color: #111;
}

.accountDialogActions {
  border-top: 1px solid #eee;
  background-color: #eee;
}

.warning {
  color: red;
}

.worldDashboardCards {

  align-items: stretch;
  flex-wrap: wrap !important;
  padding: 15px;
}
.worldDashboardCard {
  border-left: 4px solid orange;
  padding: 5px;
  margin: 15px;
  background-color: #eee;
  width: 250px;
  position: relative;
  min-height: 150px;
  cursor: pointer;
}

.worldDashboardCard > div {
  transition: background-color 0.2s;
}

.worldDashboardCard:hover > div {
  background-color: #f9f9f9;
}

.worldDashboardToolbar {
  position: relative;
  margin: -5px;
  padding: 5px;
  background-color: #ddd;
  font-weight: bold;
  flex-grow: 0 !important;
  color: #333;
}

.worldDashboardToolbar > div {
  flex: 1;
  text-align: center;
}

.worldDashboardToolbar md-icon {
  color: #000;
}

.createWorldCard {
  line-height: 50%;
  border: 3px dashed orange;
  font-size: 24pt;
  font-weight: bold;
  background-color: #ccc;
  opacity: 0.7;
  transition: background-color 0.2s, opacity 0.3s;
  cursor: pointer;
}

.createWorldCard:hover {
  background-color: initial;
  opacity: 1;
}

.createWorldCard:active {
  background-color: #ccc;
}

.hubsList {
  background-color: #fff;
  border-right: 2px solid #eee;
  width: 250px;
}

.hubsList .createWorldCard {
  max-height: 50px !important;
  min-height: inherit;
  height: 50px;
}


.hubSectionInput {
  background-color: white !important;
  padding: 5px !important;
}


hub-editor {
  padding: 0px;
}

.hubEditorContainer {
  padding: 10px;
  padding-top: 0;
  padding-left: 0;
}

.hubSection {
  margin: 5px;
  margin-bottom: 15px;
}

.hubSection md-input-container {
  margin: 0px;
}

.hubSection md-input-container md-errors-spacer {
  float: left;
}

.hubListName {
  text-overflow: ellipsis;
  overflow: hidden;
}

.hubSectionToolbar {
  border: 0;
  margin: 0;
  justify-content: center;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  width: 80%;
}

.hubNotSelected {
  border-color: #666 !important;
  color: #333;
  opacity: 0.6;
}

.hubSelected {
  border-color: orange !important;
  opacity: 1;
  background-color: #ccc !important;
  color: #222;
  font-weight: bold;
}

.nonStartHub {
  color: #999;
}

.hubTitlebar {
  background-color: white;
  padding-left: 10px;
  margin-bottom: 5px;
}

.hubToolbar {
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.hubContent {
  padding: 5px;
}

.hubsListCard {
  position: relative;
  height: 50px;
  width: 200px;
  background-color: #efefef;
  border-left: 3px solid #0af;
  margin: 0px;
  margin-bottom: 2px;
  transition: opacity 0.2s, background-color 0.2s;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 1em;
  line-height:50px;
  padding-left: 5px;
}

.hubsListCard.ng-leave {
  transition: none;
}

.warningMessage {
  padding: 5px;
  background-color: #fff5d8;
  color: rgba(255, 0, 0, 0.5);
}

.generalMessage {
  padding: 5px;
  background-color: #e5f9e1;
  color: rgb(59, 111, 97);
}

.startHubMessage {
  margin-top: -5px;
}

.hubsListCard:hover {
  background-color: #ccc;
}

.hubsListCard:active {
  background-color: #999;
}

.defaultText {
  color: #777;
}

.hubNotSelectedMessage {
  padding: 5px;
}

.storyContainer {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto;
  max-width: 700px;
}

.playSectionText {
  padding: 5px;
  white-space: pre-wrap;
}

.titleRow {
  align-items: center;
}

.titleRow .search {
  margin-left: 10px;
  text-align: right;
}

.search input {
  outline: 0;
  width: 100%;
  max-width: 150px;
  border: 0px;
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 5px
}

.conditionOpSelect {
  display: inline-block;
}
.conditionOpSelect > .md-select-value{
  flex-grow: 0 !important;
  -webkit-flex-grow: 0 !important;
}

.conditionsFormContainer {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  display: table;
  padding: 5px;
  flex: 0;
  margin-top: 10px;
}

.logicText {
  margin: 5px;
  color: orange;
}

.conditionsFormContainer .conditionsFormContainer {
  display: block;
}

.conditionsFormContainer .delete {
  visibility: hidden;
}
.conditionsFormContainer .conditionsFormContainer .delete {
  visibility: visible;
}

.conditionsFormContainer input {
  padding: 5px;
  max-width: 90px;
}

.activeSectionButton {
  color: orange;
}

.conditionSetHeader {
  background-color: #fffad8;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.conditionSetHeader h3 {
  margin: 0 !important;
  padding: 0 !important;
}

/* Home page styling */

#globe {
  position: absolute;
  top: 45vh;
  left: 50%;
  width: 20%;
  height: auto;
  margin:-10%;
}

.words {
	/* positioning stuff */
	position: absolute;
  text-align: center;
  top: 45vh;
  left: 50%;
  width: 30vw;
  height: 30vw;
  margin:-15vw;
	/* font stuff */
	font-size: 3vw;
	font-family: 'Dosis', sans-serif;
}

#explore {
  animation:spin1 10s linear infinite;
}

#relate {
  transform: rotate(120deg);
  animation:spin2 10s linear infinite;
}

#create {
  transform: rotate(240deg);
  animation:spin3 10s linear infinite;
}

@keyframes spin1 { 100% { transform:rotate(360deg); } }

@keyframes spin2 { 100% { transform:rotate(480deg); } }

@keyframes spin3 { 100% { transform:rotate(600deg); } }

.profileIcons {
  color: #666;
  margin: 10px;
  margin-left: 0;
}

.profileIcons .material-icons {
  margin-right: 5px;
  margin-top: -2px;
}

.profileIcons:first-child .material-icons {
  color: #92d36e;
}

.profileIcons:last-child .material-icons {
  color: #006ce5;
}

.byCreator {
  font-size: 12pt;
  color: #606060;
}

.titleRow h1 {
  margin: 0;
}

.titleRow {
  margin-top: 20px;
}

.noMargin {
  margin: 0;
}

.worldProfilePlayRow {
  align-content: center;
}

.playArrow .material-icons {
  cursor: pointer;
  font-size: 30pt !important;
}


.communityBox {
  margin-top: 30px;
}
.communityBox .reviewsBox {
  min-height: 20px;
  background-color: #fff;
  padding: 10px;
}

.communityBox .tab {
  background-color: #ddd;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.communityBox .selectedTab {
  background-color: white;
  font-weight: bold;
}

.reviewsBox .summary {
  font-family: Abel;
  font-size: 14pt;
  color: #444;
}

.reviewsBox .review {
  background-color: #f3f3f3;
  padding: 10px;
  margin-top: 12px;
  border-radius: 10px;
}

.reviewsBox .headerRow {
  justify-content: space-between;
}

.review p {
  margin: 0;
  padding: 8px;
  padding-left: 0;
  font-size: 11pt;
}

.review .rating {
  font-size: 12pt;
}

.review .byCreator {
  align-items: flex-end;
}

.rating3 {
  color: orange;
}

.rating5 {
  color: #92d36e;
}

.rating1 {
  color: #c00;
}

.fadedRating {
  opacity: 0.3;
}