<md-dialog aria-label="Account Form">
  <!-- If not logged in -->
  <form name='accountForm' ng-cloak ng-if="!ctrl.user" ng-submit="ctrl.login()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>World Of Who?</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          x</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding layout-margin>
      <br>
      <md-input-container class="md-icon-float md-block">
        <label>Username</label>
        <input ng-model="ctrl.formData.username" required type="text" focus>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Password</label>
        <input ng-model="ctrl.formData.password" required type="password">
      </md-input-container>

      <div class='warning' ng-if='ctrl.error' ng-bind='ctrl.error'></div>
    </md-dialog-content>

    <md-dialog-actions class='accountDialogActions' layout="row">
      <md-button ng-click="ctrl.register()">
       Register
      </md-button>
      <span flex></span>
      <md-button type='submit'
        class="md-primary"
        ng-click="ctrl.login()"
        ng-disabled="accountForm.$invalid">
        Login
      </md-button>
    </md-dialog-actions>
  </form>

  <!-- If logged in - might consider making this a separate component -->
  <form ng-cloak ng-if="ctrl.user">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Account Options</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          x</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding layout-margin>
      <p>There are currently no options available. Please check back later.</p>
    </md-dialog-content>

    <md-dialog-actions class='accountDialogActions' layout="row">
      <md-button class="md-primary" ng-click="ctrl.logout()">
        Logout
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
