<md-dialog aria-label="World Details Form">
  <!-- If not logged in -->
  <form name='worldForm' ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>World Of What?</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          x</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding layout-margin>
      <br>
      <md-input-container class="md-icon-float md-block">
        <label>Name</label>
        <input ng-model="ctrl.formData.name" required type="text" focus>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Description</label>
        <input ng-model="ctrl.formData.description" required type="text">
      </md-input-container>

      <div ng-if="ctrl.worlds.length > 0">
        <h3>Link to another world?</h3>
        <p>Linking to another world means that players who have a save file (saved player state) for that world can continue using that same data in your world!</p>
        <md-select class="conditionOpSelect" ng-if="ctrl.worlds.length > 0"
        ng-model="ctrl.formData.linkedWorld" aria-label="Which variable" placeholder="Which World?">
          <md-option ng-value="null">
            None
          </md-option>
          <md-option ng-repeat="world in ctrl.worlds track by $index" ng-value="$index + 1">
            {{ world.name }}
          </md-option>
        </md-select>
      </div>
      <div class='warning' ng-if='ctrl.error' ng-bind='ctrl.error'></div>
    </md-dialog-content>

    <md-dialog-actions class='accountDialogActions' layout="row">
      <md-button type='submit'
        class="md-primary"
        ng-click="ctrl.createWorld()"
        ng-disabled="worldForm.$invalid">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
