<div layout="row" class="titleRow">
  <h1 flex>Your Worlds</h1>
  <div flex class='search'>
    <md-icon class="material-icons">search</md-icon>
    <input ng-model="ctrl.worldFilter" type="text">
  </div>
</div>

<div layout="row" class="worldDashboardCards noSelect">
  <div class="worldDashboardCard createWorldCard" ng-click="ctrl.createWorld()">
      <span class="centerBox">+</span>
  </div>
  <world-card world="world"
    ng-repeat="world in ctrl.worlds | filter: {'name': ctrl.worldFilter}"
    ></world-card>
</div>


<div layout="row" class="titleRow">
  <h1 flex>Collaborations</h1>
  <div flex class='search'>
    <md-icon class="material-icons">search</md-icon>
    <input ng-model="ctrl.collabFilter" type="text">
  </div>
</div>

<div layout="row" class="worldDashboardCards noSelect">
  <world-card world="collab"
    ng-repeat="collab in ctrl.collabs | filter: {'name': ctrl.collabFilter}"
    ></world-card>
    <span ng-if="ctrl.collabs.length == 0">You are not a collaborator on any world.</span>
</div>