<div layout="column">
<div layout="row"> 
<div><h2>World Name</h2> by: {{ctrl.world.name}} </div> 
</div>

<div>Rating info here</div>
<div>Views info here</div>


Description here:
{{ ctrl.world.description }} 
</div>
<div>
    <md-dialog-content layout-padding layout-margin>
      <br>
      <md-input-container class="md-icon-float md-block">
        <label>Description</label>
        <input ng-model="ctrl.formData.username" required type="text" focus>
      </md-input-container>

      
      <div class='warning' ng-if='ctrl.error' ng-bind='ctrl.error'></div>
    </md-dialog-content>
</div>
</div>