<div class="tags1" id="explore1">explore</div>
<div class="tags1" id="relate1">relate</div>
<div class="tags1" id="create1">create</div>

<div class="tags2 move" id="explore2">EXPLORE</div>
<div class="tags2 move" id="relate2">RELATE</div>
<div class="tags2 move" id="create2">CREATE</div>

<div class="move" id="explore2Wrapper"></div>
<div class="move" id="relate2Wrapper"></div>
<div class="move" id="create2Wrapper"></div>

<div class="triangle triangle-up move explore-triangle start-triangle" id="explore-up"></div>
<div class="triangle triangle-down move explore-triangle" id="explore-down"></div>
<div class="triangle triangle-left move relate-triangle start-triangle" id="relate-left"></div>
<div class="triangle triangle-right move relate-triangle" id="relate-right"></div>
<div class="triangle triangle-right move create-triangle start-triangle" id="create-right"></div>
<div class="triangle triangle-left move create-triangle" id="create-left"></div>