<div class="tags1" id="explore1">explore</div>
<div class="tags1" id="relate1">relate</div>
<div class="tags1" id="create1">create</div>

<div class="tags2 move" id="explore2">EXPLORE</div>
<div class="tags2 move" id="relate2">RELATE</div>
<div class="tags2 move" id="create2">CREATE</div>

<div class="move" id="explore2Wrapper"></div>
<div class="move" id="relate2Wrapper"></div>
<div class="move" id="create2Wrapper"></div>

<div class="triangle triangle-up move explore-triangle start-triangle" id="explore-up"></div>
<div class="triangle triangle-down move explore-triangle" id="explore-down"></div>
<div class="triangle triangle-left move relate-triangle start-triangle" id="relate-left"></div>
<div class="triangle triangle-right move relate-triangle" id="relate-right"></div>
<div class="triangle triangle-right move create-triangle start-triangle" id="create-right"></div>
<div class="triangle triangle-left move create-triangle" id="create-left"></div>

<div class="paragraph move" id="explore-paragraph"><p>Hello! Welcome to <b>World Of</b>, a space for making choose you own adventure style stories. We are glad you are here and are excited for you to start exploring all that <b>World Of</b> has in store.</p></div>

<div class="paragraph move" id="relate-paragraph"><p>With <b>World Of</b>, you not only are able to make your own stories, but join a community of <b>World Builders</b> that make, share, collaborate, review, and contibute to others through various means and methods.</p></div>

<div class="paragraph move" id="create-paragraph"><p><b>World Of</b> offers features that are truly unique to the creation of <b>Worlds</b>. Not only can players make nonlinear stories, but they have full control of the shape and experience of their story.</p></div>