<div class="homeContainer">
  <div class="warningMessage">Currently in beta. Please register if you want to try it out but expect potential loss/changes in data.</div>

  <h1>World of What?</h1>
  <h2>
     Create and explore rich, immersive stories, or ‘worlds’, through a platform that encourages creativity and collaboration.
  </h2>

  <h1 class="words">Explore</h1>
  <p>Play through immersive, <b>nonlinear</b> stories, or <b>worlds</b>, created by others. Experience unique journeys through worlds with progress that can be carried over to other worlds!</p>

  <h1 class="words">Relate</h1>
  <p>Journey across worlds that are <b>connected</b> to each other. Carry your progress through sequels, prequels, worlds in the same fictional universe to enjoy richer and more personalized experiences thanks to the powerful tools available to our <b>World Creators</b>.</p>

  <h1 class="words">Create</h1>
  <p><b>Create</b> amazing Choose-Your-Own-Adventure style stories with a flexible and powerful suite of tools at your disposal that encourage creativity and <b>collaboration</b> with others.
</div>
