<div layout="row" class="hubTitlebar">
  <div>
    <h3>Hub {{ctrl.hub.name}}</h3>
  </div>

  <div class="hubToolbar" layout="row">
      <div>
        <md-button class="md-icon-button" ng-click="ctrl.deleteHub()">
          <i class="material-icons md-48">
            delete
          </i>
          <md-tooltip md-direction="top">
            Delete
          </md-tooltip>
        </md-button>
      </div>
      <div>
        <md-button ng-click="ctrl.saveSections()" class="md-primary md-icon-button"
          >
          <i class="material-icons">
            save
          </i>
          <md-tooltip md-direction="top">
            Save
          </md-tooltip>
        </md-button>
      </div>

  </div>
</div>

<div ng-if="ctrl.world.startHub === ctrl.hub.id"
  layout="row" class="hubTitlebar startHubMessage generalMessage">
This hub has been set as the starting hub for your world.
</div>

<div class="hubContent">
  <div ng-if="ctrl.sections.length === 0" class="hubNotSelectedMessage">
   No sections have been created yet. Get started by clicking the button below!
   </div>
  <div ng-repeat="section in ctrl.sections track by $index" class="hubSection">
    <md-input-container class="md-block">
      <label>Section {{$index}} </label>
      <textarea
        class="hubSectionInput"
        ng-model="section.text"
        md-no-autogrow="true"
        maxlength="500"
        md-maxlength="500"
        rows="{{ section.linkedHub ? 1: 4 }}" md-select-on-focus></textarea>
    </md-input-container>
    <div class="row worldDashboardToolbar hubSectionToolbar">
      <div>
        <md-button class="md-icon-button"
          ng-click="ctrl.confirmDeleteSection($index)">
          <i class="material-icons md-48">
            delete
          </i>
          <md-tooltip md-direction="top">
            Delete
          </md-tooltip>
        </md-button>
      </div>
      <div>
        <md-button class="md-icon-button"
          ng-click="ctrl.openConditionsEditor(section)"
          ng-class="{activeSectionButton: section.conditions}">

          <i class="material-icons">
            dns
          </i>
          <md-tooltip md-direction="top">
            Conditions
          </md-tooltip>
        </md-button>
      </div>
      <div>
        <md-button class="md-icon-button" ng-click="ctrl.openHubLinker(section)"
          ng-class="{activeSectionButton: section.linkedHub}">
          <i class="material-icons">
            link
          </i>
          <md-tooltip md-direction="top">
            <span ng-if="!section.linkedHub">Link to Hub</span>
            <span ng-if="section.linkedHub">Hub linked</span>
          </md-tooltip>
        </md-button>
      </div>
      <div>
        <md-button class="md-icon-button" ng-click="ctrl.openModificationEditor(section)"
          ng-class="{activeSectionButton: section.stateModifiers}">
          <i class="material-icons">
            face
          </i>
          <md-tooltip md-direction="top">
            <span>Modify Variables</span>
          </md-tooltip>
        </md-button>
      </div>
    </div>
    <hr>
  </div>
  <md-button class="md-flat md-primary" ng-click="ctrl.createSection()">+ Section
  </md-button>
</div>
