<header>
  <div class="row">
    <div>
      <img src="img/logo.png" class="logo"/>
    </div>
    <div class='headerText'>
      World Of <span class='headerUsername'>{{ctrl.username}}</span>
    </div>
    <div class="accountBox">
      <md-button class="accountButton" ng-click="ctrl.openAccountOptions()">
        <md-icon class="material-icons"
          ng-class="{headerUsername: ctrl.username.length > 0}">
          account_box
        </md-icon>
      </button>
    </div>
  </div>
</header>