<div class="worldDashboardCard">
  <div layout="column">
    <div ng-click="ctrl.editWorld(world.id)" style="min-height: 120px"flex="100">
      <h2 align="center">{{ctrl.world.name}}</h2>
    </div>
    <div layout="row" class="worldDashboardToolbar">
      <div>
        <md-button class="md-icon-button">
          <i class="material-icons md-48">
            favorite
          </i>
        </md-button>
      </div>
      <div>
        <md-button class="md-icon-button" ng-click="ctrl.playWorld(ctrl.world.id)">
          <i class="material-icons">
            play_arrow
          </i>
        </md-button>
      </div>
      <div>
        <md-button class="md-icon-button" ng-click="ctrl.openShare(ctrl.world.id)">
          <i class="material-icons">
            share
          </i>
        </md-button>
      </div>
    </div>
  </div>
</div>